In [7]:
import numpy as np
import pandas as pan

In [8]:
df = pan.read_csv('sample.csv')
df.head()

,Puzzle,Givens,Singles,Hidden Singles,Naked Pairs,Hidden Pairs,Pointing Pairs/Triples,Box/Line Intersections,Guesses,Backtracks,Difficulty
0,3..9.....8.71.....1..4.72..4.5...9.....28....9...,25,59,16,0,0,0,0,5,4,Expert
1,....478.......2..75...3..1...147.39..4.....5.....,25,34,22,0,0,0,0,0,0,Easy
2,.....72.1.9...6..8.21..9..5.897..6...............,25,42,14,3,0,2,0,0,0,Intermediate
3,......96....7.83.43.5.......9.8.1..7..8....1.....,26,50,5,0,0,0,0,0,0,Easy
4,...5....71.2......7....3.4..27.1..65.5..8.3......,26,57,23,0,0,0,0,3,2,Expert

In [9]:
col1 = df['Puzzle'][0]

In [10]:
# num = 0
# mat = np.array([[]])

# for char in col1:
#     num += 1

# for char in col1:
#     mat[char.index/num][char.index % num]

# # for i in range(8):
# #     for j in range(8):
# #         mat[i][j] = col1[j+(i*8)]

In [13]:
# Convert the string to a list of integers
col1 = col1.replace('.', '0')
numbers = [int(x) for x in col1]

# Desired dimensions of the 2D matrix
m, n = 9, 9

# Check if we have the right amount of numbers
if len(numbers) != m*n:
    print("The number of elements does not match the desired dimensions of the matrix.")
else:
    # Creating the 2D matrix
    matrix = [numbers[i * n:(i + 1) * n] for i in range(m)]

    # Print the matrix
    for row in matrix:
        print(row)

[3, 0, 0, 9, 0, 0, 0, 0, 0]
[8, 0, 7, 1, 0, 0, 0, 0, 0]
[1, 0, 0, 4, 0, 7, 2, 0, 0]
[4, 0, 5, 0, 0, 0, 9, 0, 0]
[0, 0, 0, 2, 8, 0, 0, 0, 0]
[9, 8, 0, 0, 0, 0, 3, 1, 0]
[0, 4, 1, 5, 0, 0, 0, 2, 0]
[0, 0, 0, 0, 4, 0, 0, 5, 0]
[0, 0, 9, 0, 0, 0, 0, 0, 0]